/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

input{
    color: black;
    text-shadow: 0px 0px 0px;
}

header,#mainCard,.dateHolders{
    background-color: rgba(0, 0, 0, 0.637);
}

@media (max-width:380px) {
    .dateHolders{
        border: 2px solid rgba(255, 255, 255, 0.445);
    }
}
@media (min-width:380px) {
    .dateHolders{
        border: 5px solid rgba(255, 255, 255, 0.445);
    }
}

#mainCard{
    border: 5px solid rgba(255, 255, 255, 0.445);
}

#logo{
    position: relative;
    overflow: hidden;
    height: 9vh;
    width:9vh;
    margin-left: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 100%;
}

.logoImg{
    width: 7vh;
    position: absolute;
}
#clearSun{
    animation: clearSun1 10s infinite ;
}
@keyframes clearSun1 {
    0%{
        
        left: -13vh;
    }
    10%{
        left: 1vh;
    }
    15%{
        left: 1vh;
    }
    25%{
        left: -13vh;
    }
    100%{
        left: -13vh;
    }
}
#cloudy{
    animation: cloudy1 10s infinite ;
}
@keyframes cloudy1 {
    0%{
        right:-13vh;
    }
    
    15%{
        right:-13vh;
    }
    25%{
        right: 1vh;
    }
    55%{
        right: 1vh;
        top:1vh;
    }
    65%{
        top:-13vh;
    }
    100%{
        top:-13vh;
    }
}
#rainyCloud{
    animation: rainyCloud1 10s infinite ;
}
@keyframes rainyCloud1 {
    0%{
        top:2vh;
        opacity: 0;
    }
    29%{
        opacity: 0;
    }
    30%{
        top:2vh;
        opacity: 1;   
    }
    32%{
        opacity: 0;
    }
    34%{
        opacity: 1;
    }
    36%{
        opacity: 0;
    }
    38%{
        opacity: 1;
    }
    40%{
        opacity: 0;
    }
      
    100%{
        opacity: 0;
    }  
}

#sunnyCloud{
    animation: sunnyCloud1 10s infinite ;
}
@keyframes sunnyCloud1 {
    0%{
        bottom:-13vh
    }
    54%{
        bottom:-13vh
    }
    55%{
        bottom:-13vh
    }
    65%{
        bottom:1vh
    }
    75%{
        bottom:1vh;
        opacity:1;
    }
    85%{
        bottom:1vh;
        opacity:0;
    }
    100%{
        bottom:1vh;
        opacity:0;
    }
}
#rainbowCloud{
    animation: rainbowCloud1 10s infinite ;
}
@keyframes rainbowCloud1 {
    0%{
        opacity: 0;
    }
    75%{
        opacity:0;
    }
    85%{
        opacity:1;
    }
    97%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}



/* heading shadow */
h1{
    color: white;
    text-shadow: 1px 1px 10px  plum;
}

/* animation for the main card */
.entryExit1{
    animation: exit-Entry1 2s linear ;
}

@keyframes exit-Entry1 {
    0%{
       transform: rotate3d(1, 1, 1, 0deg);
       opacity: 1;
       scale: 1;
    }
    50%{
        opacity: 0;
        scale: 0.5;
    }
    100%{
        transform: rotate3d(1, 1, 1, 360deg);
        scale: 1;
    }
}

/* @keyframes exit-Entry1 {

    25%{
        scale: 1.5;
        opacity: 0;
        transform: translateY(0);
    }
    50%{
        scale: 1;
        transform: translateY(0);
        opacity: 0;
    }
    51%{
        
        transform: translateY(100vh);
        opacity: 0;
    }
    80%{
        
        transform: translateY(0);
        opacity: 1;
    }

    100%{
        
        transform: translateY(0);
        opacity: 1;
    }
}


.entryExit2{
    animation: exit-Entry2 2s linear;
}

@keyframes exit-Entry2 {

    25%{
        scale: 1.5;
        opacity: 0;
        transform: translateY(0);
    }
    50%{
        scale: 1;
        transform: translateY(0);
        opacity: 0;
    }
    51%{
        
        transform: translateY(-100vh);
        opacity: 0;
    }
    80%{
        
        transform: translateY(0);
        opacity: 1;
    }

    100%{
        
        transform: translateY(0);
        opacity: 1;
    }
}

.entryExit3{
    animation: exit-Entry3 2s linear;
}

@keyframes exit-Entry3 {

    25%{
        scale: 1.5;
        opacity: 0;
        transform: translateY(0);
    }
    50%{
        scale: 1;
        transform: translateY(0);
        opacity: 0;
    }
    51%{
        
        transform: translateX(-100vh);
        opacity: 0;
    }
    80%{
        
        transform: translateY(0);
        opacity: 1;
    }

    100%{
        
        transform: translateY(0);
        opacity: 1;
    }
}

.entryExit4{
    animation: exit-Entry4 2s linear;
}

@keyframes exit-Entry4 {

    25%{
        scale: 1.5;
        opacity: 0;
        transform: translateY(0);
    }
    50%{
        scale: 1;
        transform: translateY(0);
        opacity: 0;
    }
    51%{
        
        transform: translateX(100vh);
        opacity: 0;
    }
    80%{
        
        transform: translateY(0);
        opacity: 1;
    }

    100%{
        
        transform: translateY(0);
        opacity: 1;
    }
} */

/* transition for compass arrow */
#arrow{
    transition: all 1s linear;
}
